/* =======================================
   Navbar
   ======================================= */
@media (max-width: 600px) {
    nav {
        left: 0;
        right: 0;
        justify-content: center;
    }
}

/* =======================================
   Navbar Brand
   ======================================= */
nav .brand {
    font-size: 1.5rem;
    font-weight: 400;
    user-select: none;
    transition: font-size 0.3s ease;
    margin-right: var(--nav-initial-gap);
    display: flex;
    align-items: center;
    gap: 11px;
}

@media (max-width: 600px) {
    nav .brand {
        font-size: 1.25rem;
        margin-right: 0;
        flex-direction: column;
    }
}

/* =======================================
   Navbar Link
   ======================================= */
nav .link {
    font-size: 1rem;
}

/* =======================================
   Navbar Currentl Vault Name
   ======================================= */
nav .vault-name {
    font-size: 0.8rem;
    background: #121212;
    padding: 2px;
}

/* =======================================
   Login
   ======================================= */
.login {
    padding: 5px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.login h2 {
    user-select: none;
    font-size: 1.6rem;
    user-select: none;
}

.login p {
    user-select: none;
    font-size: 0.8rem;
}

.login form {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 257px;
    margin-top: 5px;
}

.login .remember {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 0.7rem;
    gap: 5px;
    margin-top: 7px;
    margin-bottom: 7px;
}


/* =======================================
   Alert
   ======================================= */
.alert {
    --alert-danger-background: #B71C1C;
    --alert-danger-border: #D32F2F;
    --alert-success-background: #1B5E20;
    --alert-success-border: #388E3C;
    --alert-warning-background: #FF6F00;
    --alert-warning-border: #FFA000;
    --alert-secondary-background: #6A1B9A;
    --alert-secondary-border: #8E24AA;
    --alert-info-background: #1976D2;
    --alert-info-border: #2196F3;
    padding: 7px;
    font-size: 0.8rem;
    user-select: none;
    display: flex;
    flex-direction: column;
}

.alert .code {
    font-weight: bold;
    font-size: 0.7rem;
}

.alert.danger {
    background-color: var(--alert-danger-background);
    border: 1px solid var(--alert-danger-border);
}

.alert.success {
    /* Green */
    background-color: var(--alert-success-background);
    border: 1px solid var(--alert-success-border);
}

.alert.warning {
    background-color: var(--alert-warning-background);
    border: 1px solid var(--alert-warning-border);
}

.alert.info {
    background-color: var(--alert-info-background);
    border: 1px solid var(--alert-info-border);
}

.alert.secondary {
    background-color: var(--alert-secondary-background);
    border: 1px solid var(--alert-secondary-border);
}

/* =======================================
   Floating LOgout
   ======================================= */
.floating-logout {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 15px;
    font-size: 0.7rem;
    cursor: pointer;
}


/* =======================================
   Vault
   ======================================= */
.vault.header {
    text-align: center;
    font-weight: bold;
    font-size: 2rem;
    user-select: none;
}

.vaults {
    display: flex;
    flex-wrap: wrap;
    font-family: var(--font-mono);
    color: var(--vault-individual-color);
    gap: 17px;
    justify-content: center;
}

.vaults.col {
    flex-direction: row;
}

.vaults .vault {
    width: 120px;
    height: 120px;
    text-align: center;
}

/*
.vaults .vault:hover {
    color: var(--vault-individual-hover-color);
    cursor: pointer;
}
*/

.vaults .vault .inner {
    height: inherit;
    width: inherit;
    background-color: var(--vault-individual-background);
    border: 1px solid var(--vault-individual-border);
    transition: width 0.3s ease;
    transition: height 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 5px;
    user-select: none;
}

.vaults .vault .inner .icon {
    font-size: 4.5rem;
}

.vaults .vault .name {
    font-size: 0.8rem;
    user-select: none;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

@media (max-width: 600px) {
    .vaults {
        gap: 31px;
    }
}

/* =======================================
   File Upload
   ======================================= */
form.key-upload {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.custom-file-upload {
    border: 1px solid #191919;
    display: inline-block;
    padding: 6px 12px;
    height: 45px;
    cursor: pointer;
    font-size: 1rem;
    user-select: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.custom-file-upload:hover {
    border: 1px solid gray;
    color: lightgray;
}

form.key-upload .submit {
    height: 33px;
    width: 125px;
    background-color: #4B4B4B;
    border: 1px solid #7D7D7D;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.8rem;
}

form.key-upload .submit:hover {
    height: 33px;
    background-color: #7D7D7D;
    border: 1px solid #4B4B4B;
}

/* =======================================
   Vault Creation
   =======================================  */
.vault.creation {
    max-width: 500px;
}

.vault.creation h1 {
    font-size: 1.3rem;
    user-select: none;
}

.vault.creation h2 {
    font-size: 0.8rem;
    user-select: none;
}

.vault.creation p {
    font-size: 0.7rem;
    user-select: none;
}


.vault.creation form {
    margin-top: 11px;
    gap: 11px;
}

.vault.creation form input {
    height: 31px;
}

.vault.creation .vault {
    width: 120px;
    height: 120px;
    text-align: center;
}

/*
.vaults .vault:hover {
    color: var(--vault-individual-hover-color);
    cursor: pointer;
}
*/

.vault.creation .vault .inner {
    height: inherit;
    width: inherit;
    background-color: var(--vault-individual-background);
    border: 1px solid var(--vault-individual-border);
    transition: width 0.3s ease;
    transition: height 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 5px;
    user-select: none;
}

.vault.creation .vault .inner .icon {
    font-size: 4.5rem;
}

.vault.creation .vault .name {
    font-size: 0.8rem;
    user-select: none;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    user-select: none;
}

.vault.creation .actions {
    display: flex;
    gap: 5px;
}

.vault.creation .actions {
    display: flex;
    gap: 5px;
}

/* =======================================
   Vault Deletion
   =======================================  */
.vault.deletion {
    max-width: 500px;
}

.vault.deletion h1 {
    font-size: 1.3rem;
    user-select: none;
}

.vault.deletion h2 {
    font-size: 0.8rem;
    user-select: none;
}

.vault.deletion p {
    font-size: 0.7rem;
    user-select: none;
}

/* =======================================
   Vault Unlocked
   =======================================  */
.vault.unlocked {
    max-width: 500px;
}

.vault.unlocked h1 {
    font-size: 1.3rem;
    user-select: none;
}

.vault.unlocked h2 {
    font-size: 0.8rem;
    user-select: none;
}

.vault.unlocked p {
    font-size: 0.7rem;
    user-select: none;
}

.vault.unlocked .credentials {
    display: flex;
    min-height: 250px;
    max-height: 250px;
    word-break: break-all;
    overflow-y: scroll;
    flex-direction: column;
    gap: 2px;
}

.vault.unlocked .credentials .content {
    font-size: 0.7rem;
    max-height: 150px;
    word-break: break-all;
    overflow-y: scroll;
}

.vault.unlocked .credential {
    display: flex;
    background-color: #0E0E0E;
    max-height: 23px;
    width: 100%;
    font-size: 0.8rem;
    cursor: pointer;
    justify-content: space-between;
    align-items: center;
    user-select: none;
}

.vault.unlocked .credential:hover {
    background-color: #121212;
}

.vault.unlocked .credential .info {
    display: flex;
    gap: 7px;
    font-size: 0.7rem;
    align-items: center;
    padding: 3px;
    font-weight: bold;
    color: ghostwhite;
}

.vault.unlocked .credential .info .type {
    max-width: 100px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.vault.unlocked .credential .info .name {
    font-size: 0.6rem;
    max-width: 200px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.vault.unlocked .credential .actions {
    display: flex;
    gap: 7px;
    padding: 3px;
}

@media (max-width: 600px) {
    .vault.unlocked {
        max-width: 348px;
    }
}


/* =======================================
   Credential Creation
   =======================================  */

.credential.creation {
    max-width: 500px;
}

.credential.creation h1 {
    font-size: 1.3rem;
    user-select: none;
}

.credential.creation h2 {
    font-size: 0.8rem;
    user-select: none;
}

.credential.creation p {
    font-size: 0.7rem;
    user-select: none;
}

.credential.creation .vault {
    width: 120px;
    height: 120px;
    text-align: center;
}

.credential.creation .vault .inner {
    height: inherit;
    width: inherit;
    background-color: var(--vault-individual-background);
    border: 1px solid var(--vault-individual-border);
    transition: width 0.3s ease;
    transition: height 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 5px;
    user-select: none;
}

.credential.creation .vault .inner .icon {
    font-size: 4.5rem;
}

.credential.creation .vault .name {
    font-size: 0.8rem;
    user-select: none;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    user-select: none;
}

/* =======================================
   Key Reveal
   ======================================= */
.key-reveal {
    font-family: var(--font-mono);
    font-size: 0.7rem;
    display: flex;
    gap: 3px;
    padding: 5px;
    border-radius: 3px;
    flex-direction: column;
}

.key-reveal h2 {
    font-size: 0.8rem;
    font-family: var(--font-sans);
    user-select: none;
}

.key-reveal .key {
    font-family: var(--font-mono);
    font-size: 0.7rem;
}

/* =======================================
   Loading
   ======================================= */
.loading {
    position: fixed;
    top: 92px;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--background);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    z-index: 1000;
}

.loader {
    width: 60px;
    aspect-ratio: 1;
    --g: conic-gradient(from -90deg at 10px 10px, #fff 90deg, #0000 0);
    background:
        var(--g),
        var(--g) 10px 10px,
        var(--g) 20px 20px;
    background-size: 50% 50%;
    animation: l15 1s infinite;
}

@keyframes l15 {

    90%,
    100% {
        background-position: -30px 30px, -20px 40px, -10px 50px
    }
}

@media (max-width: 600px) {
    .loading {
        position: fixed;
        top: 87px;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: var(--background);
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 2rem;
        z-index: 1000;
    }
}


/* =======================================
   Misc
   =======================================  */
.divider {
    width: 100%;
    height: 1px;
    background: #191919;
    cursor: pointer;
}

.flex-box {
    display: flex;
}

.flex-box.col {
    flex-direction: column;
}

/* =======================================
   Vault Creation
   ======================================= 

.vault-creation {
    display: flex;
    flex-direction: column;
    width: 500px;
    max-width: 500px;
    word-break: break-all;
    gap: 11px;
}

.vault-creation-title {
    width: 100%;
    border-bottom: 1px solid #4B4B4B;
    font-size: 3rem;
}

.vault-creation form {
    display: flex;
    flex-direction: column;
    gap: 11px;
}

.vault-creation form input {
    width: 500px;
    height: 43px;
    font-size: 1.2rem;
}

.vault-creation form .button-group {
    width: 500px;
    height: 43px;
    font-size: 1.2rem;
}

.vault-creation form .button-group button {
    padding: 11px;
    font-size: 1rem;
}
*/

/* =======================================
   VAULT
   ======================================= 
.vaults {
    display: flex;
    flex-wrap: wrap;
    gap: 17px;
    justify-content: center;
    align-items: center;
    font-family: var(--font-mono);
    color: var(--vault-individual-color);
}

.vaults .vault {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 7px;
}

.vaults .vault:hover {
    color: var(--vault-individual-hover-color);
    cursor: pointer;
}

.vaults .vault .inner {
    background-color: var(--vault-individual-background);
    border: 1px solid var(--vault-individual-border);
    transition: width 0.3s ease;
    transition: height 0.3s ease;
    height: 120px;
    width: 120px;
    user-select: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.vaults .vault .inner div:first-child {
    height: fit-content;
    width: fit-content;
    text-align: center;
    font-size: 4rem;
}

.vaults .vault .name {
    font-size: 0.7rem;
    user-select: none;
    text-align: center;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 120px;
}

@media (max-width: 600px) {
    .vaults {
        max-width: 400px;
        height: 80px;
    }

    .vaults .vault .inner {
        height: 80px;
        width: 80px;
    }

    .vaults .vault .name {
        font-size: 0.5rem;
        width: 80px;
    }
}

   .vault-manage {
    margin-top: 31px;
    text-align: center;
    font-size: 0.8rem;
    display: flex;
    justify-content: center;
    user-select: none;
}

.vault-manage .inner {
    width: fit-content;
    padding: 7px;
    color: var(--vault-manage-color);
    border: 1px solid var(--vault-manage-border);
}


.vault-manage .inner:hover {
    width: fit-content;
    color: var(--vault-manage-hover-color);
    border: 1px solid var(--vault-manage-hover-border);
    cursor: pointer;
}
*/