/* =======================================
   Navbar
   ======================================= */
@media (max-width: 600px) {
    nav {
        justify-content: center;
    }
}

/* =======================================
   Navbar Brand
   ======================================= */
nav .brand {
    font-size: 1.5rem;
    font-weight: 400;
    user-select: none;
    transition: font-size 0.3s ease;
    margin-right: var(--nav-initial-gap);
}

@media (max-width: 600px) {
    nav .brand {
        font-size: 1.25rem;
        margin-right: 0;
    }
}

/* =======================================
   Navbar Link
   ======================================= */
nav .link {
    font-size: 1rem;
}

/* =======================================
   Login
   ======================================= */
.login {
    padding: 5px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.login h1 {
    user-select: none;
    font-size: 2rem;
    user-select: none;
}

.login p {
    user-select: none;
}

.login form {
    display: flex;
    flex-direction: column;
    gap: 5px;
}