/* =======================================
   Navbar
   ======================================= */
@media (max-width: 600px) {
    nav {
        justify-content: center;
    }
}

/* =======================================
   Navbar Brand
   ======================================= */
nav .brand {
    font-size: 1.5rem;
    font-weight: 400;
    user-select: none;
    transition: font-size 0.3s ease;
    margin-right: var(--nav-initial-gap);
}

@media (max-width: 600px) {
    nav .brand {
        font-size: 1.25rem;
        margin-right: 0;
    }
}

/* =======================================
   Navbar Link
   ======================================= */
nav .link {
    font-size: 1rem;
}

/* =======================================
   Login
   ======================================= */
.login {
    padding: 5px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.login h2 {
    user-select: none;
    font-size: 1.6rem;
    user-select: none;
}

.login p {
    user-select: none;
    font-size: 0.8rem;
}

.login form {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 257px;
    margin-top: 5px;
}

.login .remember {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 0.7rem;
    gap: 5px;
    margin-top: 7px;
    margin-bottom: 7px;
}


/* =======================================
   ALERT
   ======================================= */
.alert {
    --alert-danger-background: #B71C1C;
    --alert-danger-border: #D32F2F;
    --alert-success-background: #1B5E20;
    --alert-success-border: #388E3C;
    --alert-warning-background: #FF6F00;
    --alert-warning-border: #FFA000;
    --alert-secondary-background: #6A1B9A;
    --alert-secondary-border: #8E24AA;
    --alert-info-background: #1976D2;
    --alert-info-border: #2196F3;
    padding: 7px;
    font-size: 0.8rem;
    user-select: none;
}

.alert.danger {
    background-color: var(--alert-danger-background);
    border: 1px solid var(--alert-danger-border);
}

.alert.success {
    /* Green */
    background-color: var(--alert-success-background);
    border: 1px solid var(--alert-success-border);
}

.alert.warning {
    background-color: var(--alert-warning-background);
    border: 1px solid var(--alert-warning-border);
}

.alert.info {
    background-color: var(--alert-info-background);
    border: 1px solid var(--alert-info-border);
}

.alert.secondary {
    background-color: var(--alert-secondary-background);
    border: 1px solid var(--alert-secondary-border);
}